<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hai.test.mapper.CityMapper">

    <resultMap id="BaseResultMap" type="com.hai.test.domain.City">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="countryCode" column="country_code" jdbcType="VARCHAR"/>
            <result property="district" column="district" jdbcType="VARCHAR"/>
            <result property="population" column="population" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, country_code, district, population
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from city
        where id = #{id,jdbcType=INTEGER}
    </select>

    <insert id="insert" keyColumn="ID" keyProperty="id" parameterType="com.hai.test.domain.City" useGeneratedKeys="true">
        insert into city
        (id,name,country_code,district,population)
        values (#{id,jdbcType=INTEGER},#{name,jdbcType=VARCHAR},#{countryCode,jdbcType=VARCHAR}
        ,#{district,jdbcType=VARCHAR},#{population,jdbcType=INTEGER})
    </insert>

    <select id="selectForUpdate" resultMap="BaseResultMap">
        SELECT *
        FROM city
        WHERE id = #{id}
        FOR UPDATE
    </select>
</mapper>
